<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372841171430-clm2hobbsm66af5rprusqrmd357tevtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372841171430-clm2hobbsm66af5rprusqrmd357tevtk</string>
	<key>API_KEY</key>
	<string>AIzaSyAJJkFZW0Z5q3mIPL3txsl496-6cZSAMpY</string>
	<key>GCM_SENDER_ID</key>
	<string>372841171430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.jetsweep.bonfireTest</string>
	<key>PROJECT_ID</key>
	<string>nursey-cd88a</string>
	<key>STORAGE_BUCKET</key>
	<string>nursey-cd88a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372841171430:ios:a5ad554204de5ef2c5ae27</string>
	<key>DATABASE_URL</key>
	<string>https://nursey-cd88a.firebaseio.com</string>
</dict>
</plist>